.container-form {
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--text-primary-color);
  width: 100%;
  .error-field {
    color: var(--danger-1);
    font-size: 12px;
    margin-top: 6px;
  }
}
