.btn {
  cursor: pointer;
  color: var(--text-primary-color);
  border: var(--border);
  border-radius: var(--border-radius);
  border: 0;
  padding: 8px;
  font-size: 12px;
  &-primary {
    background-color: var(--primary-1);
    &:hover {
      background-color: var(--primary-2);
    }
  }
  &-danger {
    background-color: var(--danger-1);
    &:hover {
      background-color: var(--danger-2);
    }
  }
  &-success {
    background-color: var(--success-1);
    &:hover {
      background-color: var(--success-2);
    }
  }
}
