@use '@/assets/scss/mixins' as m;

:root {
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --green-1: #4CAF50;
  --green-2: #3e8e41;
  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #34495e;
  --text-color: #444;
  --text-primary-color: #ffffff;
  --green-validate-form: #008000;
  --on-basket: #21e856;
  --no-data: #a4b0be;
  --border: 1px solid var(--gray-2);
  --border-basket: 2 px solid var(--on-basket);
  --border-radius: 4px;
  --font-family: 'Roboto', sans-serif;
}

// reset

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.router-link-active {
  text-decoration: underline;
  font-weight: 500;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--gray-1);
  height: 100%;
}

.hide-menu {
  @include m.menu-tablet {
    display: none;
  }
}
